<div class="column" id="aboutColumnOne">
	<div class="aboutMe" id="aboutMeTwo">
		<p class="text">
			I believe this array of vastly different experiences show my range of skills and I would contribute greatly to projects ranging across both the digital and physical world. Please do not hesitate to contact me for more info.
		</p>
	</div>
	<div class="speachBubble" id="speachBubbleTwo"></div>
	<div class="nameBox">
		<div class="aaDipl">AA Dipl. RIBA II</div>
		<div class="name" id="first">ZHAN</div>
		<div class="name" id="last">WANG</div>
		<ul class="navBox">
			<li class="nav homeButton">HOME</li>
			<li class="nav projectsButton">PROJECTS</li>
		</ul>
		<div class="selfDescription">Creative Coder | Animator | Spatial Designer</div>
	</div>
	<div class="contactBox">
		<p>email: <span>zhanzw@gmail.com</span></p>
		<p>github:<span><a href="http://www.github.com/zhan-w"> github.com/zhan-w</a></span></p>
	</div>
</div>		

<div class="column" id="aboutColumnTwo">
	<h1 class="title">EXPERIENCE</h1>
	<div class="expBox">
		<div class="expSubBox">
			<p class="projectDescription descriptionTitle">General Assembly</p>
			<p class="projectDescription">
				[April 2015 - July 2015]
			</p>		
			<p class="projectDescription">
				Coding bootcamp exploring various full stack web-dev technologies with a keen interest in webGL immersive 3D user experience.
			</p>
		</div>
		<div class="expSubBox">
			<p class="projectDescription descriptionTitle">Universal Assembly Unit</p>
			<p class="projectDescription">
				[Novemebter 2013 - current]
			</p>		
			<p class="projectDescription">
				Co-funded UAU, a design collective working in the growing fields of digital narrative and animation, live audio/visual performance, and interactive installations.
			</p>
		</div>		
		<div class="expSubBox">
			<p class="projectDescription descriptionTitle">Heatherwick Studios</p>
			<p class="projectDescription">
				[March 2015 - April 2015]
			</p>		
			<p class="projectDescription">
				Deisnger:
				Design development for Google campus.
			</p>
		</div>		
		<div class="expSubBox">
			<p class="projectDescription descriptionTitle">Hawkins Brown Architects</p>
			<p class="projectDescription">
				[September 2014 - March 2015]
			</p>		
			<p class="projectDescription">
				Part 2 architectural assistant: Competition for a medical institution in Switzerland and new town development around London.
			</p>
		</div>		
		<div class="expSubBox">
			<p class="projectDescription descriptionTitle">Maccreanor Lavington Architects</p>
			<p class="projectDescription">
				[January 2012 - August 2012]
			</p>		
			<p class="projectDescription">
				Part I architectural assistant:
				Mixed use development in Great Eastern Quays next to City Airport.
			</p>
		</div>		
		<div class="expSubBox">
			<p class="projectDescription descriptionTitle">Cousins and Cousins Architects</p>
			<p class="projectDescription">
				[September 2011 - December 2011]
			</p>		
			<p class="projectDescription">
				Part I architectural assistant:
				Grade listed builidng conversions from single family home to multi-storey residential development.
			</p>
		</div>
	</div>		
</div>	
<div class="column" id="aboutColumnThree">
	<h1 class="title">AWARDS + PUBLICATION</h1>
	<div class="awardBox">
		<div class="awardSubBox">
			<p class="projectDescription descriptionTitle">The Architectural Review</p>
			<p class="projectDescription">
				“Lunar Economic Zone“ featured in “Anarchy, state and utopia“ in the Reviews section in December.
			</p>		
		</div>
		<div class="awardSubBox">
			<p class="projectDescription descriptionTitle">The Fast Company</p>
			<p class="projectDescription">
				“Lunar Economic Zone“ published on Fast Coexist in the article “The Port Of The Future, Where The Shipments Come From Space “.
			</p>		
		</div>
		<div class="awardSubBox">
			<p class="projectDescription descriptionTitle">Dezeen</p>
			<p class="projectDescription">
				“Lunar Economic Zone“ published in the article “Zhan Wang’s animation imagines China as a trade leader in extra-terrestrial minerals”.
			</p>		
		</div>
		<div class="awardSubBox">
			<p class="projectDescription descriptionTitle">The RIBA president’s Medals</p>
			<p class="projectDescription">
				Nominated for the Silver Medal by the Architectural Association.
			</p>		
		</div>		
		<div class="awardSubBox">
			<p class="projectDescription descriptionTitle">V&A</p>
			<p class="projectDescription">
				“Lunar Economic Zone“ screened at V&A Late.
			</p>		
		</div>		
		<div class="awardSubBox">
			<p class="projectDescription descriptionTitle">CGarchitecture Award</p>
			<p class="projectDescription">
				“Lunar Economic Zone” nominated for student film category.
			</p>		
		</div>		
		<div class="awardSubBox">
			<p class="projectDescription descriptionTitle">Super Architects</p>
			<p class="projectDescription">
				“System D Logistics“ published on Super Architects.	
			</p>		
		</div>		
		<div class="awardSubBox">
			<p class="projectDescription descriptionTitle">Best Portfolio</p>
			<p class="projectDescription">
				“Istanbul textile arts centre“ awarded best portfolio by London Metropolitan University Department of Spatial Design.	
			</p>		
		</div>
	</div>	
</div>	
<div class="column" id="aboutColumnFour">
	<h1 class="title">EDUCATION</h1>
	<div class="eduBox">
		<div class="eduSubBox">
			<p class="projectDescription descriptionTitle">The Architectural Association</p>
			<p class="projectDescription">
				[September 2012 - June 2014] 
			</p>		
			<p class="projectDescription">
				Diploma RIBA Part II
			</p>
		</div>
		<div class="eduSubBox">
			<p class="projectDescription descriptionTitle">London Metropolitan University</p>
			<p class="projectDescription">
				[September 2008 – June 2011] 
			</p>		
			<p class="projectDescription">
				BA(Hons) Architecture RIBA Part I
			</p>
		</div>		
		<div class="eduSubBox">
			<p class="projectDescription descriptionTitle">Université de la Sorbonne Nouvelle Paris III</p>
			<p class="projectDescription">
				[September 2007 – February 2008] 
			</p>		
			<p class="projectDescription">
 				Certificate in French
			</p>
		</div>
		<div class="eduSubBox">
			<p class="projectDescription descriptionTitle">Concordia University Montreal, QC, Canada</p>
			<p class="projectDescription">
				[January 2004 – July 2007]
			</p>		
			<p class="projectDescription">
				Bachelor of Arts, Major in Urban Studies
			</p>
		</div>
	</div>
</div>


