<video autoplay loop poster="assets/background.tiff" id="bgvid" source src="assets/background.mov"></video>

<div class="homeBox">
	<div class="homeSpeachBubble animated bounce">
		<div id="homeAboutMe">
			<p class="text">
				Coming from a background in architecture and having experimented with time-based media in the growing field of digital storytelling, I have developed a keen interest in interactive design that further engages with the increasingly multi-platformed audience.
			</p>
			<p class="text">
				The resent experience at the General Assembly equipped me with skill sets that enables me to take this ambition further to design into and to operate in the digital environment as an architect.
			</p>
		</div>
		<div class="speachBubble"></div>
	</div>

	<div class="homeNameBox">
		<h1 class="homeName" id="homeFirstName">ZHAN</h1>
		<h1 class="homeName">WANG</h1>

		<div class="homeSelfDescription">
			Creative Coder | Animator | Spatial Designer
		</div>
		
		<ul class="homeNavBox">
			<li class="navHome" id="projects">PROJECTS</li>
			<li class="navHome" id="about">ABOUT</li>
		</ul>
	</div>

</div>