<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900|Roboto+Mono:400,700,500,300,100|Roboto+Condensed:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="lib/normalize.css">
	<link rel="stylesheet" href="lib/animate.min.css">
	<link rel="stylesheet" href="home.css">
	<link rel="stylesheet" href="about.css">
	<link rel="stylesheet" href="pageOneColumnOne.css">
	<link rel="stylesheet" href="pageOneColumnTwo.css">
	<link rel="stylesheet" href="pageOneColumnThree.css">
	<link rel="stylesheet" href="pageOneColumnFour.css">
	<script src="lib/jquery.js"></script>
	<script src="script.js"></script>
	<title>zhan wang</title>
</head>
<body>
	<%= yield %>
</body>
</html>