
	<div id="pageOne">
		<div class="column" id="columnOne">
			<div id="aboutMe">
				<p class="text">
					Coming from a background in architecture and having experimented with time-based media in the growing field of digital storytelling, I have developed a keen interest in interactive design that further engages with the increasingly multi-platformed audience.
				</p>
				<p class="text">
					The resent experience at the General Assembly equipped me with skill sets that enables me to take this ambition further to design into and to operate in the digital environment as an architect.
				</p>
			</div>
			<div class="speachBubble"></div>
			<div class="nameBox">
				<div class="aaDipl">AA Dipl. RIBA II</div>
				<div class="name" id="first">ZHAN</div>
				<div class="name" id="last">WANG</div>
				<ul class="navBox">
					<li class="nav homeButton">HOME</li>
					<li class="nav aboutButton">ABOUT</li>
				</ul>
				<div class="selfDescription">Creative Coder | Animator | Spatial Designer</div>
			</div>
			<div class="contactBox">
				<p>email: <span>zhanzw@gmail.com</span></p>
				<p>github:<span><a href="http://www.github.com/zhan-w"> github.com/zhan-w</a></span></p>
			</div>
		</div>
		<div class="column" id="columnTwo">
			<h1 class="title">PROJECTS</h1>
			<h1 class="subtitle">INTERACTIVE</h1>
			<!-- project01 -->
			<div id="projectOne">
				<h2 class="projectTitle">place.HOLDER</h2>
				<p class="projectLinks">site: <a class="projectLinks" href="www.placeholder.com">placeholder.com</a></p>
				<p class="projectLinks">code: <a class="projectLinks" href="github.com/placeholder">github.com/placeholder</a></p>
				<p class="projectDescription descriptionTitle">DESCRIPTION</p>
				<p class="projectDescription">
					An online interactive app that enables users to explore concurrent live events in cities, through immersive panorama views. The events are loaded as 3D objects into each scene, which allows visiters to pan and orbit around and offers information about the events on hover.
				</p>		<p class="projectDescription descriptionTitle">TECHNOLOGY</p>
				<p class="projectDescription">
						Three.js | maps.google.com API | GSVPano.
						js | GSVPanoDepth.js | jQuery.js | javascript | objLoader.js | orbitControl.js | projector.js | threex. domevent.js | zpipe.js | forecast.io API
				</p>
			</div>
			<div class="borderDashLine"></div>
			<!-- project02 -->
			<div id="projectTwo">
				<h2 class="projectTitle">ISLE<>ATE</h2>
				<p class="projectLinks">site: <a class="projectLinks" href="www.placeholder.com">placeholder.com</a></p>
				<p class="projectLinks">code: <a class="projectLinks" href="github.com/placeholder">github.com/placeholder</a></p>
				<p class="projectDescription descriptionTitle">DESCRIPTION</p>
				<p class="projectDescription">
					An online interactive app that enables users to explore concurrent live events in cities, through immersive panorama views. The events are loaded as 3D objects into each scene, which allows visiters to pan and orbit around and offers information about the events on hover.
				</p>		
				<p class="projectDescription descriptionTitle">TECHNOLOGY</p>
				<p class="projectDescription">
					Three.js | maps.google.com API | GSVPano. js | GSVPanoDepth.js | jQuery.js | javascript | objLoader.js | orbitControl.js | projector.js | threex. domevent.js | zpipe.js | forecast.io API
				</p>
			</div>

		</div>

		<div class="column" id="columnThree">
			<h1 class="title titleInvisible">PROJECTS</h1>
			<h1 class="subtitle">ANIMATION</h1>
			<!-- animate project01 -->
			<div id="aniProjectOne">
				<h2 class="projectTitle">LUNAR ECONOMIC ZONE</h2>
				<p class="projectLinks">site: <a class="projectLinks" href="http://www.vimeo.com/98965114">vimeo.com/98965114</a></p>
				<p class="projectDescription descriptionTitle">DESCRIPTION</p>
				<p class="projectDescription">
					An Olympic opening ceremony style media report for a speculative event which marks the first delivery of lunar minerals in the newly formed Lunar Economic Zone, an administrative agglomeration of Shenzhen and the Moon.
				</p>		
				<p class="projectDescription descriptionTitle">TECHNOLOGY</p>
				<p class="projectDescription">
					cinema4D | after effects | audition | rhino
				</p>
			</div>
			<div class="borderDashLine"></div>
			<!-- animate project02 -->
			<div id="aniProjectTwo">
				<h2 class="projectTitle">SYSTEM D LOGISTICS</h2>
				<p class="projectLinks">site: <a class="projectLinks" href="http://www.vimeo.com/68928214">vimeo.com/68928214</a></p>
				<p class="projectDescription descriptionTitle">DESCRIPTION</p>
				<p class="projectDescription">
					A covert logistics system that smuggles illicit goods from the street markets of Mexico to the U.S. coastline.
				</p>		
				<p class="projectDescription descriptionTitle">TECHNOLOGY</p>
				<p class="projectDescription">
					cinema4D | after effects | audition | rhino
				</p>
			</div>
			<div class="borderSolidLine"></div>
			<!-- coding project03 -->
			<div id="projectTwo">
				<h2 class="projectTitle">3D TIC.TAC.TOE</h2>
				<p class="projectLinks">site: <a class="projectLinks" href="www.placeholder.com">placeholder.com</a></p>
				<p class="projectLinks">code: <a class="projectLinks" href="github.com/placeholder">github.com/placeholder</a></p>
				<p class="projectDescription descriptionTitle">DESCRIPTION</p>
				<p class="projectDescription">
					A tic tac toe game made in isometric view, challenging the players’ perception of rows and columns.
				</p>		
				<p class="projectDescription descriptionTitle">TECHNOLOGY</p>
				<p class="projectDescription">
					javascript | jQuery |css animation
				</p>
			</div>
		</div>
		<div class="column" id="ColumnFour">
			<h1 class="title ">SKILL SETS</h1>
			<h1 class="subtitle titleInvisible">ANIMATION</h1>
			<div class="skillBox">
				<h2 class="projectTitle skillTitle">CODING</h2>
				<p class="skills">JAVASCRIPT</p>
				<p class="skills">THREE.JS</p>
				<p class="skills">JQUERY</p>
				<p class="skills">SINATRA</p>
				<p class="skills">POSTGRES</p>
				<p class="skills">NODE</p>
				<p class="skills">BACKBONE</p>
			</div>
			<div class="skillBox">
				<h2 class="projectTitle skillTitle">ANIMATION</h2>
				<p class="skills">CINEM 4D</p>
				<p class="skills">AFTER EFFECTS</p>
				<p class="skills">PREMIER PRO</p>
				<p class="skills">AUDITION</p>
			</div>			
			<div class="skillBox">
				<h2 class="projectTitle skillTitle">DRAFTING</h2>
				<p class="skills">RHINO</p>
				<p class="skills">SKETCHUP</p>
				<p class="skills">AUTOCAD</p>
				<p class="skills">MICROSTATION</p>
			</div>			
			<div class="skillBox">
				<h2 class="projectTitle skillTitle">DIGITAL PUBLISHING</h2>
				<p class="skills">PHOTOSHOP</p>
				<p class="skills">ILLUSTRATOR</p>
				<p class="skills">INDESIGN</p>
			</div>			
			<div class="skillBox">
				<h2 class="projectTitle skillTitle">LINGUISTICS</h2>
				<p class="skills">ENGLISH</p>
				<p class="skills">CHINESE</p>
				<p class="skills">FRENCH</p>
			</div>
		</div>

	</div>