

#aboutColumnFour {
	border: none;
}

.expBox {
	margin-top: 100px;
}

.awardBox {
	margin-top: 50px;
}

.eduBox {
	margin-top: 90px;
}

#aboutMeTwo {
	height: 140px;
}

#speachBubbleTwo {
	margin-bottom: 140px;
}