	div.skillBox {
		margin-bottom: 40px; 
	}

	h2.skillTitle {
		height: 10px;
	}

	p.skills {
		font-family: Roboto Condensed;
		font-weight: 400;
		font-size: 10pt;
		text-align: left;
		background-color: rgba(203, 9, 9, 1);
		margin: 1px;
    color: white;
    font-weight: 400;
    padding-left: 3px;
	}

	#columnFour {
		border: none;
	}

	.high {
		width: 295px;
	}

	.mid {
		width: 250px;
	}

	.low {
		width: 100px;
	}